<!--<h2 align="center" [innerHtml]="titulo"></h2>-->

<mat-card-title align="center" color="pink">{{titulo}}</mat-card-title>

<button mat-raised-button color="primary" routerLink="/paquetes/crear">Crear Paquetes</button>
<br>
<br>
<form action="">
    <label>Buscar:</label>&nbsp;
    <input type="text" name="buscar" [(ngModel)]="elementoBusqueda">
    <hr>
    <button (click)="buscarElementos()">Aceptar</button>
</form>

<mat-grid-list  cols="2" rowHeight="250px">
    <mat-grid-tile *ngFor="let lugar of lugares">
            <app-paquete-item [paquete]="lugar" ></app-paquete-item>
    </mat-grid-tile>
</mat-grid-list>
